.chart {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px #2980B9;
  box-shadow: 2px 4px 10px 1px #2980B9;
  padding: 10px;
  color:#2980B9;

  .title {
    margin-bottom: 20px;
  }

  .chartGrid {
    stroke: #2980B9;
  }
}
