.sidebar {
  flex: 1;
  min-height: 100vh;
  background-color: #004F82;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      height: 60px;
      width: 140px;
    }
  }

  hr {
    height: 0;
    border: 0.5px solid white;
  }

  .center {
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: -35px !important;


    ul {
      list-style: none;
      margin-right: 50px;
      padding: 0;


      .title {
        font-size: 10px;
        font-weight: bold;
        color: white;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 4px;
        &:hover {
          background-color: #2980B9;
        }

        .icon {
          font-size: 25px;
          color: white;
        }

        span{
            font-size: 15px;
            font-weight: 600;
            color: white;
            margin-left: 10px;
        }
      }
    }
  }

  .bottom{
      display: flex;
      align-items: center;
      margin: 10px;

      .colorOption{
          width: 20px;
          height: 20px;
          border-radius: 5px;
          border: 1px solid white;
          cursor: pointer;
          margin: 5px;

          &:nth-child(1){
              background-color: whitesmoke;
          }
          &:nth-child(2){
              background-color: #333;
          }
          &:nth-child(3){
              background-color: white;
          }
      }
  }
}
